/* @font-face {
  font-family: "CirrusCumulus";
  src: url("../fonts/CirrusCumulus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Euripides SemiBold";
  src: url("../fonts/Euripides-SemiBold_web.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anthony';
  src: url('../fonts/Anthony.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "Sequel 100 Wide 75";
  src: url("../fonts/OGJ Type Design - Sequel 100 Wide 75.otf");
}

@font-face {
  font-family: "Sequel 100 Wide 45";
  src: url("../fonts/OGJ Type Design - Sequel 100 Wide 45.otf");
}

@font-face {
  font-family: "Sequel 100 Wide 46";
  src: url("../fonts/OGJ Type Design - Sequel 100 Wide 46.otf");
}

@font-face {
  font-family: "Mister Pixel Tools";
  src: url("../fonts/Mister Pixel Tools.otf");
}

@font-face {
  font-family: "Mister Pixels Font";
  src: url("../fonts/Mister Pixel Regular.otf");
}

@font-face {
  font-family: 'Authentic-Sans-90-reg';
  src: url('../fonts/AUTHENTICSans-90.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Authentic-Sans-130-reg';
  src: url('../fonts/AUTHENTICSans-130.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Authentic-Sans-90';
  src: url('../fonts/AUTHENTICSans-Condensed-90.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Halibut Serif Regular';
  src: url('../fonts/HalibutSerif-Regular.woff2');
  unicode-range: U+0020-007A, U+00A1-00A3, U+00A8-00A9, U+00AB,
    U+00AE-00B0, U+00B4, U+00B7-00B8, U+00BB, U+00BF-00FF, U+0104-0105,
    U+0118-0119, U+012E-012F, U+0131, U+0152-0153, U+0172-0178,
    U+02C6-02C7, U+02D8-02DD, U+0300-0303, U+0307-0308, U+030A, U+0327,
    U+0335, U+0338, U+1E80-1E85, U+1EF2-1EF3, U+2013-2014, U+2018-201A,
    U+201C-201E, U+2022, U+2026, U+2039-203A, U+20AC, U+2122, U+2212,
    U+FB01-FB02;
}