/* @font-face {
  font-family: 'turret-road0-regular';
  src: url('turretroad-regular_copy-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "CirrusCumulus";
  src: url("CirrusCumulus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Authentic-Sans-90';
  src: url('AUTHENTICSans-Condensed-90.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Authentic-Sans-90-reg';
  src: url('AUTHENTICSans-90.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Authentic-Sans-130-reg';
  src: url('AUTHENTICSans-130.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0%
  }

  100% {
    background-position: 100%
  }
}

:root {
  --primary-font: "Authentic-Sans-90-reg", "Helvetica", sans-serif;
  --primary-font-bold: "Authentic-Sans-130-reg", "Helvetica", sans-serif;
  --secondary-font: "CirrusCumulus", "CooperLtBTWXX-Light", "Georgia", serif;
  --AOR-font: "Authentic-Sans-90", "Helvetica", sans-serif;
  --text-color: #000;
  --white-color: #FFF;
  --purple-color: #7411ff;
  --lime-color: #;
  --secondary-color: #35d8ea;
  --fade-in-effect: fadein 800ms;
  font-size: calc(1em + 0.5vw);
  font-family: var(--primary-font);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: var(--fade-in-effect);
  -moz-animation: var(--fade-in-effect);
  -ms-animation: var(--fade-in-effect);
  -o-animation: var(--fade-in-effect);
  animation: var(--fade-in-effect);
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

::selection {
  /* color: var(--text-color-secondary);
  background: var(--text-color); */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

body {
  background-color: var(--white-color);
}

header {
  display: flex;
  /* background-color: var(--purple-color); */
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  position: fixed;
  background: linear-gradient(127deg, #191CFF, #7800FF, #FEBDFF);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

.marquee {
  animation: marquee 112s infinite linear;
  padding: 0.125em 0;
  /* margin: 0.25em 0; */
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: baseline;
  width: max-content;
  animation-delay: -18s;
  font-size: 1.5em;
  color: var(--white-color);
}

.marquee:hover {
  animation-play-state: paused;
  font-style: oblique;
  transition: 0.3s;
  padding-left: 5em;
}

.marquee p {
  margin: 0;
  font-family: var(--AOR-font);
}

.serif {
  font-family: var(--secondary-font);
  font-style: normal;
  margin: 0 0.5em;
}

.bold {
  font-family: var(--primary-font-bold);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid var(--purple-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  font-style: oblique;
  color: var(--purple-color);
  transition: 0.3s;
}

.current-exhibition {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 4em;
}

.current-exhibition aside {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--purple-color);
}

h4 {
  margin: 0;
}

.subtitle h4 {
  text-align: center;
  grid-column: 1;
  font-size: 0.8em;
  font-weight: normal;
}

.subtitle h4:first-child {
  margin-top: 0.25em;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.current-exhibition a {
  margin: 0.25em;
  padding: 0.25em;
  display: grid;
  grid-template-columns: fit-content repeat(2, 1fr);
  border-bottom: 1px dotted var(--purple-color);
  grid-gap: 0.5em;
}

.current-exhibition a:last-child {
  border-bottom: none;
}

.current-exhibition p:first-child {
  grid-row: 1 / 6;
  grid-column: 1;
  /* color: var(--lime-color); */
}

.current-exhibition p:nth-child(3) {
  text-align: right;
}

.current-exhibition img+p {
  grid-row: 3;
  grid-column: 2 / 4;
}

.current-exhibition sup {
  grid-column: 2 / 4;
}

.current-exhibition sup+p {
  grid-row: 5;
  /* grid-column: 2; */
}

.current-exhibition p:last-child {
  text-align: right;
}

.current-exhibition img {
  grid-row: 2;
  grid-column: 2 / 4;
  width: 100%;
}

.current-exhibition img:hover {
  border-radius: 2em;
  transition: 0.3s;
}

.current-exhibition a p {
  margin: 0;
}

.current-exhibition a:hover {
  color: var(--purple-color);
}

.current-exhibition section {
  grid-column: 2;
}

@media (max-width: 465px) {