@import 'fonts.css';

@keyframes gradient {
  0% {
    background-position: 0%
  }

  100% {
    background-position: 100%
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

:root {
  --primary-font: "Authentic-Sans-90-reg", "Helvetica", sans-serif;
  --primary-font-bold: "Authentic-Sans-130-reg", "Helvetica", sans-serif;
  --AOR-primary: "Sequel 100 Wide 75", "Helvetica", sans-serif;
  --AOR-secondary: "HalibutSerif", "CirrusCumulus", serif;
  --AOR-tertiary: "Authentic-Sans-90", "Anthony", serif;
  --text-color: #000;
  --white-color: #FFF;
  --pink-color: #FEBDFF;
  --purple-color: #7411ff;
  --blue-color: #191CFF;
  --secondary-color: #35d8ea;
  --fade-in-effect: fadein 800ms;
  font-size: calc(1em + 0.5vw);
  font-family: var(--primary-font);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: var(--fade-in-effect);
  -moz-animation: var(--fade-in-effect);
  -ms-animation: var(--fade-in-effect);
  -o-animation: var(--fade-in-effect);
  animation: var(--fade-in-effect);
}

::selection {
  color: var(--white-color);
  background: var(--purple-color);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  cursor: url(../cursor.cur) 6 6, auto;
}

html, body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
}

/* MARQUEE ~~> top menu */
header {
  display: flex;
  /* background-color: var(--purple-color); */
  width: 100%;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  background: linear-gradient(127deg, #191CFF, #7800FF, #FEBDFF);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

.marquee {
  animation: marquee 206s infinite linear;
  padding-bottom: 0.125em;
  /* margin: 0.25em 0; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: max-content;
  animation-delay: -20s;
  font-size: 1.5em;
  color: var(--white-color);
}

.marquee:hover {
  animation-play-state: paused;
  /* font-style: oblique; */
  transition: 0.3s;
  padding-left: 3em;
  cursor: url(../hover.cur) 12 12, auto;
}

.marquee p {
  margin: 0;
  font-family: var(--AOR-primary);
}

.marquee em {
  font-family: var(--AOR-secondary);
  font-style: normal;
  margin: 0 0.5em;
  /* text-transform: lowercase; */
}

.marquee p+em {
  font-size: 1.2em;
}

.marquee em+em {
  font-family: var(--AOR-tertiary);
  font-style: normal;
  margin: 0.15em 0.7em 0 0;
  border-radius: 100%;
  border: 1px solid white;
  padding: 0.15em 0.8em 0;
  font-size: 0.8em;
  align-self: center;
}

.bold {
  font-family: var(--primary-font-bold);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid var(--purple-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a.active {
  color: var(--purple-color);
  /* font-family: var(--primary-font-bold); */
}

nav a:hover {
  font-style: oblique;
  color: var(--purple-color);
  transition: 0.3s;
  cursor: url(../hover.cur) 6 6, auto;
}

/* LANDING PAGE ~~> exhibition panel */
.current-exhibition {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 4em;
}

.current-exhibition aside {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--purple-color);
}

h4 {
  margin: 0;
}

.subtitle h4 {
  text-align: center;
  grid-column: 1;
  font-size: 0.8em;
  font-weight: normal;
}

.subtitle h4:first-child {
  margin-top: 0.25em;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.current-exhibition a {
  margin: 0.25em;
  padding: 0.25em;
  display: grid;
  grid-template-columns: fit-content repeat(2, 1fr);
  border-bottom: 1px dotted var(--pink-color);
  grid-gap: 0.5em;
}

.current-exhibition a:last-child {
  border-bottom: none;
}

.current-exhibition p:first-child {
  grid-row: 1 / 6;
  grid-column: 1;
  /* color: var(--lime-color); */
}

.current-exhibition p:nth-child(3) {
  text-align: right;
}

.current-exhibition img+p {
  grid-row: 3;
  grid-column: 2 / 4;
}

.current-exhibition sup {
  grid-column: 2 / 4;
}

.current-exhibition sup+p {
  grid-row: 5;
  /* grid-column: 2; */
}

.current-exhibition p:last-child {
  text-align: right;
}

.current-exhibition img {
  grid-row: 2;
  grid-column: 2 / 4;
  width: 100%;
}

.current-exhibition img:hover {
  border-radius: 2em;
  transition: 0.3s;
  cursor: url(../hover.cur) 6 6, auto;
}

.current-exhibition a p {
  margin: 0;
}

.current-exhibition a:hover {
  color: var(--purple-color);
  cursor: url(../hover.cur) 6 6, auto;
}

.current-exhibition section {
  grid-column: 2;
}

/* 00 LANDING PAGE */
/* 01 COLLABORATORS */
/* ~~> LEFT HAND KEY */
main.static-scroll {
  display: grid;
  margin: 4em 0.5em 2em 0.5em;
  grid-template-columns: 20vw 1fr;
  grid-gap: 1em;
  height: 100vh;
}

.static-scroll aside {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  align-content: flex-start;
  justify-content: flex-start;
  width: 20vw;
  height: 100vh;
  overflow-y: scroll;
  font-size: 0.8em;
  margin-top: 1em;
}

.static-scroll aside a {
  height: fit-content;
  width: fit-content;
  border-radius: 1em;
  border: 1px solid var(--purple-color);
  padding: 0.15em 0.5em 0 0.5em;
  margin: 0.075em 0.15em;
  color: var(--purple-color);
  word-break: break-all;
}

.static-scroll aside a:hover {
  color: var(--white-color);
  transition: 0.3s;
  background-color: var(--purple-color);
  cursor: url(../hover.cur) 6 6, auto;
}

.static-scroll aside a.active-tag, .static-scroll aside a:active {
  color: var(--white-color);
  background-color: var(--purple-color);
}

/* ~~> RIGHT LONG SCROLL */
.static-scroll section {
  overflow-y: scroll;
  grid-column: 2;
}

.static-scroll section article {
  /* border-bottom: 1px solid var(--purple-color); */
}

/* 02 SCHEDULE */
div.schedule {
  display: flex;
  flex-direction: column;
}

.schedule article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5em;
  /* border-bottom: 1px dotted #FEBDFF; */
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.schedule p {
  margin: 1em auto;
}

.schedule article img {
  grid-column: 1;
  width: 100%;
}

.schedule article div {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.schedule article h2, .schedule article h5, .schedule article p {
  border-bottom: 1px dotted #FEBDFF;
  margin: 0;
  padding: 1em 0;
}

.schedule article div span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1em;
}

.schedule article h5 {}

.schedule article h5+p {}

.schedule article p+a {}

.schedule article a+a {}

.schedule .live-link {
  background: linear-gradient(127deg, #191CFF, #7800FF, #FEBDFF);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  color: var(--white-color);
}

/* IMG ON HOVER */
/* #schedule-link:hover {
  transition: all 0.3s linear;
  color: var(--purple-color);
  pointer-events: none;
  cursor: url(../hover.cur) 6 6, auto;
}

.event-listing:hover+.event-img {
  opacity: 1;
  transition: 0.15s;
  color: var(--purple-color);
  pointer-events: none;
  cursor: url(../hover.cur) 6 6, auto;
}

.event-img {
  opacity: 0;
  z-index: 1;
  position: fixed;
  left: 58%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  max-width: 420px;
  pointer-events: none;
} */
/* 03 ABOUT */
section.layout {
  display: grid;
  grid-template-columns: 1fr 20vw;
  row-gap: 0;
}

section.layout+div {
  grid-column: 1;
}

/* 04 CONTACT */
/* 05 ARCHIVE */
.archive section {
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-gap: 0.5em;
}

.archive section article.description, .archive section article.gallery {
  border-bottom: none;
}

.archive article.description {
  grid-column: 1;
  overflow-y: scroll;
  width: 30vw;
  border-right: 1px dotted var(--pink-color);
  padding-right: 0.5em;
}

.archive article.gallery {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.archive article.gallery img {
  width: 100%;
  margin-top: 1em;
}

.detail {
  font-size: 0.65em;
}

.archive ul li::before {
  content: "";
}

.archive ul {
  padding: 0;
  list-style: none;
}

/* MOBILE */
@media (max-width: 465px) {
  /* collaborators / tags / overflow-y:scroll */